# created by virtualenv automatically
nbs/.ipynb_checkpoints/
agents/.ipynb_checkpoints/
agents/catboost_info/
.idea/
.venv/
.env
myenv/
src/db.sqlite3
front/.env.local
get-pip.py
sp500data/


